$green: #ac26dd;
$white: #ffffff;

.about_us {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-direction: column;

  .container {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;

    &.mt-4 {
      margin-top: 1.5rem;
    }

    &.mt-5 {
      margin-top: 3rem;
    }

    &.gx-0 {
      gap: 0;
    }

    &.custom-row-1 {
      margin-top: 3rem;
    }
  }

  .col-12 {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 15px;
  }

  .xl-3 {
    flex: 0 0 25%;
    max-width: 25%;
    padding: 0 0px;
  }

  .xl-6 {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 15px;
  }

  .about_us_heading {
    text-align: center;
    width: 60%;
    margin: auto;
    margin-top: 60px;
    position: relative;
    font-family: "Poppins";

    &::after {
      content: '';
      position: absolute;
      width: 75px;
      height: 3px;
      background: $green;
      top: 44%;
      left: 44.8%;
    }

    h1 {
      letter-spacing: 0.2em;
      text-transform: uppercase;
      font-weight: 700;
      margin-bottom: 5rem !important;
    }

    p.text-muted {
      color: #6c757d;
    }
  }

  .about_us_image {
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.3s ease-in-out;
    
    span {
      position: absolute;
      color: $white;
      text-transform: uppercase;
      font-weight: 600;
      letter-spacing: 0.12em;
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
      font-size: 19.25px;
      text-align: center;
    }

    &.gallery-img {
      background: url('../assets/images/Background/gallery.jpg');
      background-size: cover;
      background-position:-195px -110px;
      background-repeat: repeat;
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        background: $green;

        .gallery-icon {
          opacity: 0;
        }

        span {
          opacity: 1;
        }
      }
    }

    .gallery-icon {
      background-image: url('../assets/icons/gal-icn.png');
      background-repeat: no-repeat;
      background-size: contain;
      width: 30%;
      height: 30%;
    }

    &.video-img {
      background: url('../assets/images/Background/video.jpg');
      background-size: cover;
      background-position: -75px 0px;
      background-repeat: no-repeat;
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        background: $green;

        .video_icon {
          opacity: 0;
        }

        .video-title {
          opacity: 1;
        }
      }

      .video-title {
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
        color: $white;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 0.12em;
        font-size: 19.25px;
        text-align: center;
      }
    }

    .video_icon {
      background-image: url('../assets/icons/vdo-icn.png');
      background-repeat: no-repeat;
      background-size: contain;
      width: 30%;
      height: 30%;
    }

    .gallery-icon,
    .video_icon {
      position: relative;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      transition: opacity 0.3s ease-in-out;
    }
  }

  .grid-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: space-between;

    .about_us_grid {
      width: calc(50% - 15px);
      text-align: center;
      padding: 15px;
      background: #0f1726;
      height: 100%;

      span.counter {
        font-size: 60px;
        color: $green;
      }

      h5 {
        color: $green;
        letter-spacing: 0.2em;
        font-weight: 700;
        font-size: 16.25px;
      }

      p {
        color: $white;
      }
    }
  }

  .modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 1050;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0;
    background: rgba(0, 0, 0, 0.5);
  }

  .modal-content {
    position: relative;
    background: #122730; /* Updated background color */
    margin: auto;
    padding: 0;
    border: 1px solid #999;
    border-radius: 0.3rem;
    outline: 0;
    width: 750px; /* Fixed width */
    height: 400px; /* Fixed height */
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-90%, -80%);  /* Adjust for centering */
  }

  .close {
    position: absolute;
    right: 10px;
    top: 10px;
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;

    &:hover,
    &:focus {
      color: black;
      text-decoration: none;
      cursor: pointer;
    }
  }

  .modal-body {
    padding: 15px;
    height:fit-content;
    overflow-y: auto; /* Enable vertical scrolling if needed */
  }

  .custom-carousel {
    display: flex;
    transition: transform 0.3s ease-in-out;
    cursor: grab;
    margin-bottom: 10px;



    img {
      flex: 0 0 auto;
      border-radius: 60px;
      width: 100%;
      height: 100%;
      max-height: 340px;
      max-width: 710px; /* Ensure images fit within modal width */
      margin-right: 10px;
      padding-top: 30px;
      transition: transform 0.3s ease-in-out;
    }
  }

  @media screen and (min-width: 280px) and (max-width: 991px) {
    .about_us_heading {
      width: 100%;

      h1 {
        font-size: 1.85em;
        margin-bottom: 3rem !important;
      }

      p {
        text-align: center !important;
        padding: 1.5rem;
      }

      &::after {
        display: none;
      }
    }

    .custom-row-1 {
      margin-top: 1rem !important;
    }
  }

  @media screen and (min-width: 280px) and (max-width: 1200px) {
    .gallery-img,
    .video-img {
      height: 452.8px !important;
    }
  }

  @media screen and (min-width: 1200px) and (max-width: 1200px) {
    .gallery-img,
    .video-img {
      height: 100% !important;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1220px) {
    .custom-col-md {
      width: 100% !important;
    }
  }
}
